<!-- Footer for links to social media -->
<section class="bg-black text-zinc-100 py-2 my-2 flex items-center justify-center mt-auto">
    <div class="p-4 text-gray-5 flex items-center">
        <ul class="list-none flex flex-row items-center space-x-10 gap-2">
            <li class=" hover:text-gray-400 cursor-pointer">Instagram
                <a href="https://www.instagram.com/">
                    <ng-icon name="bootstrapInstagram"></ng-icon>
                </a>
            </li>

            <li class=" hover:text-gray-400 cursor-pointer">LinkedIn
                <a href="https://www.linkedin.com/">
                    <ng-icon name="bootstrapLinkedin"></ng-icon>
                </a>
            </li>

            <li class=" hover:text-gray-400 cursor-pointer">Twitter
                <a href="https://twitter.com/">
                    <ng-icon name="bootstrapTwitter"></ng-icon>
                </a>
            </li>
        </ul>
    </div>
</section>