<div class="flex justify-center items-center min-h-screen">
    <!-- Display the blog post content here -->
    <section *ngIf="post" class="post-container max-w-2xl p-4">
        <h1 class="text-3xl font-bold mb-4">{{ post.title }}</h1>

        <!-- Post image -->
        <div class="max-w-full mb-2">
            <img [src]="post.imageUrl" alt="{{ post.title }}"
             class="w-full h-auto shadow-md">
        </div>

        <!-- Post date -->
        <div>
            <p>{{ post.creationDate | date: 'short' }}</p>
        </div>
        
        <!-- Like dislike button -->
        <app-react-btn [postId]="post.postId"></app-react-btn>

        <!-- Post content -->
        <div class="mb-6">
            <p>{{ post.content }}</p>
        </div>

        <!-- Second post img -->
        <div class="max-w-full mb-6">
            <img [src]="post.additionalImageUrls" 
            alt="{{ post.additionalImageUrls }}" class="w-full h-auto shadow-md">
        </div>

        <!-- Form to add comments to post -->
        <app-comment-form [postId]="post.postId"></app-comment-form>
    </section>
</div>