.blog-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.reactions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reactions p {
    margin: 5px;
    color: black;
}

.content {
    width: 65vw;
}