.blog-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reactions {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.reactions p {
    margin: 5px;
}

.content {
    width: 65vw;
}