<div class="blog-post">
    <!-- Display the blog post content here -->
    <div *ngIf="post">
        <h2>{{ post.title }}</h2>
        <img [src]="post.imageUrl" alt="{{ post.title }}">
        <p>{{ post.content }}</p>
    </div>

    <div class="comments">
        <h2>Comments</h2>
        <div *ngFor="let comment of comments">
            <app-comment [comment]="comment"></app-comment>
        </div>
        <app-comment-form (commentAdded)="addComment($event)"></app-comment-form>
    </div>
</div>