<div class="blog-post">
    <!-- Display the blog post content here -->
    <section *ngIf="post" class="post-container">
        <h1>{{ post.title }}</h1>
        <img [src]="post.imageUrl" alt="{{ post.title }}">
        <div class="reactions">
            <p>Likes: {{ post.likes }}</p>
            <p>Dislikes: {{ post.dislikes }}</p>
        </div>
        <div class="content">
        <p>{{ post.content }}</p>
        </div>
    </section>

    <div class="comments">
        <h2>Comments</h2>
        <div *ngFor="let comment of comments">
            <app-comment [comment]="comment"></app-comment>
        </div>
        <app-comment-form (commentAdded)="addComment($event)"></app-comment-form>
    </div>
</div>
<app-footer></app-footer>