/* Post grid */
.grid-container {
    display: flex;
    justify-content: center;
}

.image-grid {
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.image-grid-item {
    width: 100%
}

.image-grid-item img {
    max-width: 100%;
    /* Ensure images don't exceed their container's width */
    height: auto;
    /* Maintain the image's aspect ratio */
}

/* Post title */
a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-top: 5px;
}

a:hover {
    color: #656565;
}


@media (max-width: 767px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}